body {
  width: 100%;
}
.App {
  text-align: center;
  width: 60%;
  margin: 0 auto;
  display: flex;
  flex-flow:wrap;
  justify-content: center;
  align-items: center;
}

.App > * {
  flex: 100%;
}
.App > p {
  padding-top: 3rem;
}

.form {
  display: flex;
  flex-flow: wrap;
  justify-content: center;
  text-align: center;
  padding-top: 5rem;
}

.form > div {
  flex: 100%;
  padding-top: 1rem;
}
.timeField{
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  padding-bottom: 1rem;
}
.timeField > p {
  font-weight: bold;
  margin: 0;
  flex: 100%;
  padding-bottom: .5rem;
}
.timeField > input {
  width: 5rem;
}
.timeField > label {
  flex: 4rem 0;
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
