.App {
  text-align: center;
  width: 100%;
  color: white;
  display: flex;
  flex-flow:wrap;
  justify-content: center;
  align-items: center;
  background-color: #222;
}
.selectorMinas{
  flex:50%;
}
.ganador {
  flex: 100%;
  display: flex;
  justify-content: center;
}
.selectorTam {
  flex: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.selectorTam button {
  margin:0 .5rem;
}
.selectorTam p {
  padding-top: .85rem;
}
.selectorMinas {
  display: flex;
  flex-flow: row;
  align-items: center;
  justify-content: center;
}
.ganador {
  align-self: flex-start;
}
.jugar {
  flex: 100%;
  margin: 1rem 0;
}
footer {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 2rem;
  margin-bottom: 1rem;
  flex: 1;
}
.botonera {
  flex: 1;
  margin-top: 1rem;
}

@media (max-width:900px) {
  footer {
    flex: 100%;
  }
  .botonera {
    flex: 100%;
  }
}