* {
  box-sizing: border-box;
}

.App {
  text-align: center;
  display: flex;
  flex-flow: wrap;
  justify-content: center;

  & h2 {
    flex: 100%;
  }

}

.fila {
  display: flex;
  flex: 100%;
  overflow: hidden;
  margin: 0;
}

.col {
  flex: 10%;
  border: none;
  border-bottom: 1px solid black;
  border-right: 1px solid black;
  padding: .25rem;
  overflow: hidden;
  cursor: pointer;
  background-color: inherit;
}

.col:hover {
  background-color: #ccc;
}

.col:last-child {
  border-right: none;
}

.fila:last-child .col {
  border-bottom: none;
}

.supermarket {
  background-color: orange;
}

.poblacion {
  flex: 100%;
}

.supermercados {
  flex: 100%;
}

.supermercados ul {
  width: 50%;
  margin: 0 auto;
  list-style-type: none;
}

.supermercados ul li {
  padding-block: .5rem;
}

.tabla {
  border: 1px solid black;
  margin-inline: 6rem;
  flex: 100%;
  display: flex;
  flex-flow: wrap;
}