* {
  box-sizing: border-box;
}

.App {
  text-align: center;
  display: flex;
  width: 100%;
  min-height: 100dvh;
  flex-flow: column;
  align-items: center;
  min-height: 20rem;
}

h1 {
  border-bottom: 1px solid #555;
  padding-block: 1.5rem;
  width: 98.5dvw;
}

.btn-start {
  position: absolute;
  top: 40dvh;
}

.test {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  flex: 1;
  padding-inline: 2rem;
  max-width: 100dvh;
  overflow: hidden;

  & h2 {
    flex: 100%;
    min-height: 7rem;
    padding-top: 1rem;
  }

  & .respuestas {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    flex: 100%;
    min-height: 30dvh;
    padding-bottom: 2rem;

    & div {
      display: flex;
      flex: 100%;
      color: #111;
      justify-content: center;

      & label {
        text-align: left;
        flex: 1;
        max-width: 30rem;
        padding-block: .5rem;
        margin-left: 10rem;
        cursor: pointer;

        & input {
          cursor: pointer;
        }
      }

      & input {
        margin-right: .5rem;
      }
    }
  }

  & button {
    flex: 1rem 0;
    margin-inline: .5rem;
    border: 1px solid black;
  }
}

.btn-resultado {
  margin-top: 3rem;
}

.modal {
  max-height: 100dvh;

  & .header.modal-header {
    border-color: black;
    margin-inline: .75rem;

    & h5 {
      flex: 1;
      text-align: center;
      font-size: 2rem;
    }
  }

  & .modal-body {
    display: flex;
    flex-flow: column;

    & header {
      display: flex;
      flex-flow: row;
      padding-top: 1rem;
      padding-bottom: 2rem;
      justify-content: space-evenly;

      & section {
        flex: 30% 0;
        text-align: center;
        border: 1px solid #777;
        border-radius: .5rem;

        & h4 {
          padding-block: .75rem;
          border-bottom: 1px solid #777;
          margin-bottom: 1.25rem;
          font-size: 1.7rem;
        }

        & p {
          font-size: 1.15rem;
        }
      }
    }

    & main {
      display: flex;
      justify-content: center;
      padding-bottom: 2rem;

      & img {
        flex: 1;
        height: auto;
        max-width: 270px;
        border: 1px solid #777;
        border-radius: 1rem;
      }
    }

    & footer {
      display: flex;
      flex-flow: wrap;
      justify-content: center;
      text-align: center;

      & h4 {
        flex: 100%;
        padding-bottom: 2rem;
      }

      & ul {
        flex: 100%;
        list-style-type: none;
        display: flex;
        justify-content: space-between;
        padding-inline: 4rem;
        padding-bottom: 2rem;

        & li {
          display: flex;
          flex-flow: wrap;
          text-align: center;
          border: 1px solid #777;
          border-radius: 1rem;
          overflow: hidden;

          & p {
            flex: 100%;
            min-width: 100%;
            padding: 0.25rem;
            margin: 0;
          }

          & strong {
            flex: 100%;
            min-width: 100%;
            color: #EEE;
            padding: 0.25rem;
            text-align: center;
          }
        }
      }

      & .barra {
        display: flex;
        flex: 100%;
        min-height: 2rem;
        margin-inline: 2rem;
      }
    }

  }

  & h4 {
    padding-bottom: .5rem;
  }



}

.aparecer-barra {
  animation: aparecer-barra 1s ease both;
  animation-delay: .5s;
}

.derecha {
  position: relative;
  animation: aparecer-derecha 1.5s ease both;
}

.izquierda {
  position: relative;
  animation: aparecer-izquierda 1.5s ease both;
}

.seleccionar {
  animation: seleccionar .2s ease-out both;
}

.aparecer {
  animation: aparecer 1s linear both;
}

@keyframes aparecer-derecha {
  0% {
    opacity: .25;
    right: -100dvw;
  }

  50% {
    opacity: .5;
    right: 0;
  }

  75% {
    opacity: .75;
    right: 0;
  }

  100% {
    opacity: 1;
    right: 0;
  }
}

@keyframes aparecer-izquierda {
  0% {
    opacity: .25;
    left: -100dvw;
  }

  50% {
    opacity: .5;
    left: 0;
  }

  75% {
    opacity: .75;
    left: 0;
  }

  100% {
    opacity: 1;
    left: 0;
  }
}

@keyframes seleccionar {
  0% {
    font-size: 1rem;
  }

  50% {
    font-size: 1.1rem;
  }

  100% {
    font-size: 1rem;
  }
}

@keyframes aparecer {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes aparecer-barra {
  0% {
    flex: 0 0;
  }

  100% {
    flex: 100% 0;
  }
}

.tipo1 {
  background-color: #0020A8;
}

.tipo2 {
  background-color: #52A800;
}

.tipo3 {
  background-color: #A82600;
}

.tipo4 {
  background-color: #53291C;
}

.tipo5 {
  background-color: #1A1E33;
}

.tipo6 {
  background-color: #26331A;
}