div.campo * {
    box-sizing: border-box;
    margin: 0;
}
div.campo {
    display: flex;
    flex-flow: wrap;
    width: 30rem;
}
div.campo > p {
    flex: 100%;
}
div.campo > button {
    flex: 10%;
}