div.selectorMinas * {
    margin:0;
}
div.selectorMinas {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
div.selectorMinas > div {
    display: flex;
    flex-flow: column;
}